.title {
    margin: 4rem 0 2rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

@media (min-width: 576px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}