.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
}

.logo {
    display: none;
    width: 4rem
}

.logo img {
    width: 100%
}


.menu {
    justify-self: center;
    display: flex;

    transition: all 0.2s linear;
}

.menu li {
    padding: 1rem 1.5rem;

}

.menu a {
    color: #fff;
    transition: all 0.2s linear
}

.menu a.active {
    color: #f9d21f;
}

.menu a:hover {
    color: #f9d21f;
}

.wrapper div:last-child {
    display: none;
    gap: 0.75rem;
    transition: all 0.2s linear
}

.wrapper div:last-child:hover {
    color: gold;
}

.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.user a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #fff;
    cursor: pointer;
}

.user .active {
    color: #f9d21f;

}

.user a>:first-child {
    font-size: 1rem;
    transition: all 0.25s linear;
}

.user a:hover {
    color: #f9d21f;
}


@media (max-width: 992px) {

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #101827;
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100vh;
        padding-top: 2rem;
        z-index: 100;
        transition: all 0.25s linear;
    }

    .menu {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1.5rem
    }

    .logo {
        display: block
    }
}

@media (max-width: 400px) {
    .user div:first-child {
        display: none;
    }

    .wrapper div:last-child {
        display: flex;
    }

}