.footer {
    background-color: #101827;
    padding: 1rem;
    width: 100%;
    margin-top: 3rem;
    color:#fff
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}



.icons>* {
    font-size: 1.5rem;
    color: #fff;
}

.explain {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem
}

.explain div:nth-child(1) {
    margin-bottom: 0.5rem;
}

.explain div:nth-child(2) {
    margin-bottom: 0.25rem;
}

.explain div:nth-child(3) {
    font-size: 0.65rem;
    color: rgb(69, 69, 69);
}

@media (min-width: 768px) {
    .wrapper {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .icons>*{
        font-size: 2rem;
    }

}